﻿<div class="modal fade" id="modal_info_courrier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
                <h4 class="modal-title title_modal_detail" id="MyModalLabel">Détail sur un courrier</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="code form-control" disabled>
                            <label class="form-label">Code Courrier</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="courrier_reponse form-control" disabled>
                            <label class="form-label">Code reponse</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="objet form-control" disabled>
                            <label class="form-label">Objet</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="date form-control" disabled>
                            <label class="form-label">Date de création</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="fichier form-control" disabled>
                            <a href="#" class="fichier btn btn-default"><i class="fa fa-download"></i></a>
                            <label class="form-label">Fichier joint</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="nature form-control" disabled>
                            <label class="form-label">Nature</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="type form-control" disabled>
                            <label class="form-label">Type de courrier</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="statut form-control" disabled>
                            <label class="form-label">Statut du courrier</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="categorie form-control" disabled>
                            <label class="form-label">Catégorie du courrier</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="agent form-control" disabled>
                            <label class="form-label">Crée par</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12" id="expediteur">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="exp form-control" disabled>
                            <label class="form-label">Expéditeur</label>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="color:black;" id="dest">
                    <div>
                        <label>LISTES DES DESTINATAIRES</label>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <div class="row">
                            <div class=""><label>CORRESPONDANTS</label></div>
                            <div class="dest_contact"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <div class="row">
                            <div class=""><label>SERVICES</label></div>
                            <div class="dest_service"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link " data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
