﻿@using GestionCourrierNew.Models;
@{
    //ViewBag.Title = "Réception de Courrier Départs";
    var list = (IList<COURRIER>)ViewBag.courriers;
    var nature = (IList<NATURE>)ViewBag.nature;
    var services = (IList<SERVICE>)ViewBag.services;
    var contacts = (IList<IGrouping<TYPE_CORRESPONDANT, CORRESPONDANT>>)ViewBag.contacts;

    list = list ?? new List<COURRIER>();
    nature = nature ?? new List<NATURE>();
    services = services ?? new List<SERVICE>();
    contacts = contacts ?? new List<IGrouping<TYPE_CORRESPONDANT, CORRESPONDANT>>();
}
@section styles{
    <style>
        #form .wizard > .steps > ul > li {
            width: 22.5%;
        }
    </style>
}
<div class="card ">
    <div class="header">
        <h2>Réception de Courriers Départs</h2>
        <small>Enregistrement de tous les courriers à transmettre.</small>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="data_courrier">
                        <thead>
                            <tr>
                                <th>Code Courrier</th>
                                <th>Objet</th>
                                <th>Nature</th>
                                <th>Statut</th>
                                <th>Catégorie de courrier</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in list)
                            {
                                <tr>
                                    <td>@item.Ref_cour</td>    
                                    <td>@item.Obj_cour</td>
                                    <td>@(item.NATURE.Lib_nat)</td>
                                    <td>@item.Stat_cour</td>
                                    <td>@(item.CATEGORIE_COURRIER?.Lib_cat_cour)</td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-det" title="Detail" data-toggle="modal" data-target="#modal_detail" onclick="AfficherDetail(@item.Id_cour)"><i class="fa fa-eye"></i></button>
                                        @if (item.Stat_cour == GestionCourrierNew.Helper.StatutCourrier.Attente.Item2)
                                        {
                                            <button type="button" title="Valider le courrier" class="btn bg-amber btn-mod" data-toggle="modal" data-target="#Modal" onclick="ShowModal('valider',@item.Id_cour,this);"><i class="fa fa-pencil-square"></i></button>
                                        }
                                        else
                                        {
                                            <button type="button" title="Modifier" class="btn bg-cyan btn-mod" data-toggle="modal" data-target="#Modal" onclick="ShowModal('modifier',@item.Id_cour,this);"><i class="fa fa-edit"></i></button>
                                            <a title="Imprimer" class="btn bg-orange btn-imprim" href="@Url.RouteUrl("CourrierDepart.Imprimer", new { id = item.Id_cour})"><i class="fa fa-print"></i></a>
                                        }
                                        <button type="button" title="Supprimer" class="btn btn-danger btn-sup" onclick="ConfirmSup(@item.Id_cour,this);"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Partial/_PartialCourrierDepart")

@section scripts{
    <script src="~/Plugins/ckEditor/ckeditor.js"></script>
    <script src="~/Content/Js/PageScript/_SharedAddContact.js"></script>
    <script src="~/Content/Js/PageScript/_SharedCourrierDepart.js"></script>
    <script type="text/javascript">
        const url_post_action = "@Url.RouteUrl("reception.courrierDepart.action")";
        const url_delete = '@Url.RouteUrl("reception.courrierDepart.delete", new{id= 0})';
        const url_edit = '@Url.RouteUrl("reception.courrierDepart.edit", new{id= 0})';
        const url_post_ajoutContact = "@Url.RouteUrl("parametrage.contact.action")";
        const url_get_code = '@Url.RouteUrl("reception.courrierDepart.getCodeCourrier", new { id = "0" })';
        const url_print = "@Url.RouteUrl("CourrierDepart.Imprimer", new { id = 0})";
        const date_today = "@DateTime.Now.ToShortDateString()";
        const statut = "@Html.Raw(GestionCourrierNew.Helper.StatutCourrier.Traite.Item2)";
        var dataTable,etat_action, tr_modif, tr_sup, filename;

        const user = "@Html.Raw(HttpContext.Current.User.Identity.Name)";

        functionShowPresentSsMenu('opt4');

        function ActualiseDataTable(result) {
            if (result.state) {

                if (etat_action == "modifier" || etat_action=="valider") {
                    dataTable.row(tr_modif).remove().draw();
                }
                var courrier = result.courrier;
                var url = url_print.replace("0", courrier.Id_cour);
                dataTable.row.add([
                    courrier.Ref_cour, courrier.Obj_cour, courrier.Lib_nat, courrier.Stat_cour, courrier.Lib_cat_cour,
                    `
                                        <button type="button" title="Detail" class ="btn btn-success btn-det" data-toggle="modal" data-target="#modal_detail" onclick="AfficherDetail(${courrier.Id_cour})"><i class ="fa fa-eye"></i></button>
                                        <button type="button" title="Modifier" class ="btn bg-cyan btn-mod" data-toggle="modal" data-target="#Modal" onclick="ShowModal('modifier',${courrier.Id_cour},this);"><i class ="fa fa-edit"></i></button>
                                        <button type="button" title="Supprimer" class ="btn btn-danger btn-sup" onclick="ConfirmSup(${courrier.Id_cour},this);"><i class ="fa fa-trash"></i></button>

                                        <a href="${url}" title="Imprimer" class ="btn bg-orange btn-imprim"><i class ="fa fa-print"></i></a>
                                    `
                ]).draw();
                swal({
                    title: "Information",
                    text: "Courrier enregistré avec succès",
                    type: "success"
                },
                function () {
                    $("#Modal").modal("hide");
                });
                return true;
            }
            else {
                swal("Erreur", result.message, "error");
                return false;
            }
        }

        function ConfirmSup(id,btn) {
            swal({
                title: "Attention !!!",
                text: "Etes-vous sur de vouloir supprimer ce courrier ?",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "Annuler",
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Supprimer",
                closeOnConfirm: false,
                closeOnClickOutside: false,
            }, function () {
                var url = url_delete.replace('0', id);
                $.get(url).done(function (data) {
                    if (data.state) {
                        tr_sup = $(btn).parents("tr:first");
                        dataTable.row(tr_sup).remove().draw();
                        swal("Bravo!!!", "courrier supprimé avec succes!!!", "success");
                    }
                    else {
                        swal("Erreur!!!", data.message, "error");
                    }
                });
            });
        }

  
        $(function () {

            dataTable = $('#data_courrier').DataTable({
                "language": {
                    "url": "../../Plugins/jquery-datatable/French.json"
                },
                dom: 'lBfrtip',
                responsive: true,
                "autoWidth": false,
                "pageLength": 10,
                "lengthMenu": [10, 25, 50, 75, 100],
                buttons: [
                    {
                        text: 'Ajouter',
                        className: "btn-ajout btn-primary waves-effect",
                        titleAttr: 'Ajouter d\'un courrier entrant',
                        action: function () {
                            $("#Modal").modal('show');
                            ShowModal("add");
                        }
                    },
                    {
                        text: 'Excel',
                        className: "waves-effect",
                        action: function () {
                            getExportName(".btn-excel");
                        }
                    },
                    {
                        text: 'Pdf',
                        className: "waves-effect",
                        action: function () {
                            getExportName(".btn-pdf");
                        }
                    },
                    {
                        text: 'Imprimer',
                        className: "waves-effect",
                        action: function () {
                            getExportName(".btn-print");
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        className: "waves-effect btn-excel",
                        filename: function () { return filename }
                    },
                    {
                        extend: 'pdf',
                        className: "waves-effect btn-pdf",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        filename: function () { return filename },
                        title: function () { return filename },
                    },
                    {
                        extend: 'print',
                        className: "waves-effect btn-print",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        filename: function () { return filename },
                        text: "IMPRIMER",
                        extension: 'filepdf.pdf',
                        //autoPrint: false,
                        title: function () { return filename },
                        customize: function (win) {
                            console.log(win);
                            $(win.document.body)
                                .css('font-size', '10pt')
                            $(win.document.body).find('#data_courrier')
                                .addClass('compact')
                                .css('font-size', '10pt');
                        }
                    }
                ],

            });

        });
        function getExportName(buttonClass) {
            swal({
                title: "Nom du fichier à exporter!",
                text: "Entrez le nom du fichier à exporter svp!!!",
                type: "input",
                showCancelButton: true,
                cancelButtonText: "Annuler",
                closeOnConfirm: false,
                animation: "slide-from-top",
                inputPlaceholder: "Entrez le nom du fichier svp !!!",
                inputValue: "Liste des courriers en suivi du " + FormatNowDate()
            }, function (inputValue) {
                if (inputValue === false) return false;
                if (inputValue.trim() === "") {
                    swal.showInputError("Vous devez renseigner un nom de fichier!!!"); return false
                }
                filename = inputValue;
                $(buttonClass).click();
                swal.close();
            });
        }
    </script>
}
