﻿@using GestionCourrierNew.Models;
@{
    ViewBag.Title = "Correspondants";
    var list = (List<CORRESPONDANT>)ViewData["list"];
    var listType = (List<TYPE_CORRESPONDANT>)ViewData["listType"];
    var id_modal_contact = "Modal_contact";

    list = list ?? new List<CORRESPONDANT>();
    listType = listType ?? new List<TYPE_CORRESPONDANT>();
}
<div class="card ">
    <div class="header">
        <h2>Correspondants</h2>
        <small>Gestion des différentes structures externes et personnes avec qui les échanges se font.</small>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="table_contact">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Numéro téléphone</th>
                                <th>Adresse</th>
                                <th>Mail</th>
                                <th>Responsable</th>
                                <th>Type de correspondant</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in list)
                            {
                                <tr>
                                    <td>@(item.Nom_cor)</td>
                                    <td>@(item.Tel_cor)</td>
                                    <td>@(item.Ad_cor)</td>
                                    <td>@(item.Mail_cor)</td>
                                    <td>@(item.Resp_cor)</td>
                                    <td>@(item.TYPE_CORRESPONDANT?.Lib_typ_cor)</td>
                                    <td>
                                        <button type="button" title="Modifier" class="btn bg-cyan btn-mod" data-toggle="modal" data-target="#@id_modal_contact" onclick="ShowModal('modifier',@item.Id_cor);"><i class="fa fa-edit"></i></button>
                                        <button title="Supprimer" type="button" class="btn btn-danger btn-sup" onclick="ConfirmSup(@item.Id_cor);"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Ajout Large Size -->
@Html.Partial("_Partial/_PartialModalContact",id_modal_contact)
<!--end Modal Ajout Large Size -->

@section scripts{
    <script type="text/javascript">

        const url_post_ajoutContact = "@Url.RouteUrl("parametrage.contact.action")";
        const url_delete = '@Url.RouteUrl("parametrage.contact.delete",new{id= 0})';
        const url_edit = '@Url.RouteUrl("parametrage.contact.edit",new{id= 0})';
        var dataTable, etat_action, tr_modif, tr_sup, id_modal_contact = "#@id_modal_contact";
    </script>
    <script src="~/Content/Js/PageScript/_SharedAddContact.js"></script>
    <script src="~/Content/Js/PageScript/Contact.js"></script>
}
