﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title> Gestion Courrier Cntig | Bienvenu</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="~/Content/Css/FirstRegistrationCss.css" type="text/css" />
        <!--web-fonts-->
        <link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
        <!--//web-fonts-->
    </head>
    <body>
        <div class="main">
            <div class="agile" style="margin:auto;">
                <div class="signin-form profile">
                    <h1 style="font-size:inherit;"><span style="color:orangered">G</span>estion <span style="color:orangered">C</span>ourrier <span style="color:orangered">C</span>ntig</h1>
                    <h3><small style="font-size:small;"><u style="color:orangered;font-size:15px;">Premiere Utilisation:</u> Enregistrement de l'administrateur de la plateforme</small></h3>
                    <div class="login-form">
                        <div style="color:orange;font-size:14px;" id="error">@ViewData["error"]</div>
                        <form id="form-login" action="@Url.RouteUrl("Accueil.InitialisationApplication")" method="post" name="form">
                           @Html.AntiForgeryToken()
                            <input type="email" name="Email_util" placeholder="E-mail" required="" id="email" value="@ViewData["email"]">
                            <input type="text" name="Nom_util" placeholder="Nom Utilisateur" required="" id="nom" value="@ViewData["nom"]">
                            <input type="text" name="Login_util" placeholder="Login" required="" id="login" value="@ViewData["login"]">
                            <input type="password" name="PasswdHash_util" placeholder="Mot de Passe" required="" id="mdp" value="@ViewData["mdp"]">
                            <input type="password" name="password_confirm" placeholder="Confirmation du Mot de Passe" required="" id="cmdp" value="@ViewData["cmdp"]">
                            <input type="submit" value="Valider" id="valider">
                        </form>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </body>
</html>
