﻿@using GestionCourrierNew.Models;
@{ 
    ViewBag.title = "Accueil";
    var list = (IList<COURRIER>)ViewBag.list ?? new List<COURRIER>();
}
<div class="card ">
    <div class="header">
        <h2>Courriers en attente</h2>
        <small>Liste des courriers en attente de traitement depuis une semaine.</small>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                <table class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                        <tr>
                            <th class="col-md-3 col-xs-3 col-lg-3 col-sm-8 ">Code courrier</th>
                            <th class="col-md-3 col-xs-3 col-lg-3 col-sm-8 ">Objet</th>
                            <th class="col-md-2 col-xs-2 col-lg-2 col-sm-8 ">Réceptionniste</th>
                            <th class="col-md-2 col-xs-2 col-lg-2 col-sm-8 ">Nature</th>
                            <th class="col-md-2 col-xs-2 col-lg-2 col-sm-8 ">Statut</th>
                            <th class="col-md-2 col-xs-2 col-lg-2 col-sm-8 ">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in list)
                        {
                            <tr>
                                <td>@item.Ref_cour</td>
                                <td>@item.Obj_cour</td>
                                <td>@(item.UTILISATEUR.Nom_util)</td>
                                <td>@(item.NATURE?.Lib_nat)</td>
                                <td>@(item.Stat_cour)</td>
                                <td>
                                    <button type="button" class="btn btn-trait bg-orange"><i class="fa fa-check"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
@section scripts{
<script type="text/javascript">
    functionShowPresentSsMenu('opt1');
    dataTable = CreateDatatableWithExportButton('.dataTable', "Liste des courriers en attente de traitement depuis plus d'une semaine " + FormatNowDate());
</script>
}