﻿@using GestionCourrierNew.Models;
@{
    ViewBag.Title = "Profils";
    var profils = (List<DROIT_ACCES>)ViewData["profils"];
    var modules = (List<MODULE>)ViewData["modules"];

    profils = profils ?? new List<DROIT_ACCES>();
    modules = modules ?? new List<MODULE>();
}
@section styles{
    <style type="text/css" media="screen">
        /*.btn-excel, .btn-pdf, .btn-print {
            display: none;
        }*/

        @@media screen and (max-width: 768px) {
            button.btn.bg-cyan.btn-mod {
                font-size: 0px;
                padding: 5px;
            }

            button.btn.btn-danger.btn-sup {
                font-size: 0px;
                padding: 5px;
            }
        }
    </style>
}

<div class="card ">
    <div class="header">
        <h2>Profils</h2>
        <small>Gestion des profils des utilisateurs de la plateforme.</small>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Libellé</th>
                                <th>Modules Accéssibles</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in profils)
                                {
                                    var list = "";
                                    <tr>
                                        <td>@item.Lib_drt</td>
                                        <td>
                                            @foreach (var droit in item.ACCEDER)
                                            {
                                                list = list + droit.MODULE?.Id_mod + " ";
                                                <span>- @(droit.MODULE?.Lib_mod)<br /></span>
                                            }
                                        </td>
                                        <td>
                                            <button type="button" class="btn bg-cyan btn-mod" data-toggle="modal" data-target="#Modal" onclick="ShowModal(@item.Id_drt,'modifier','@item.Lib_drt','@list');"><i class="fa fa-edit"></i>Modifier</button>
                                            <button type="button" class="btn btn-danger btn-sup" onclick="ConfirmSup(@item.Id_drt);"><i class="fa fa-trash"></i>Supprimer</button>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Ajout Large Size -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="min-height:300px;">
                <form name="form" id="form" method="post" action="">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="id" name="id" />
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="lib" name="lib" class="form-control" required maxlength="50">
                            <label class="form-label" for="lib">Libellé *</label>
                        </div>
                    </div>

                    <div>
                        <label class="col-md-2 col-sm-3 col-lg-2 col-xs-3 p-l-0" for="modules">Modules accéssibles *</label>
                        <div class="col-md-10 col-sm-9 col-lg-10 col-xs-9 p-r-0">
                            <select title="Aucune sélection" class="form-control show-tick" multiple name="modules" id="modules" data-size="@modules.Count()" required>
                                @foreach (var item in modules)
                                {
                                    <option value="@item.Id_mod">@item.Lib_mod</option>
                                }
                            </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Fermer</button>
                <button type="submit" form="form" class="btn btn-success waves-effect" id="btn_valid">Valider</button>
            </div>
        </div>
    </div>
</div>
<!--end Modal Ajout Large Size -->

@section scripts{
    <script type="text/javascript">
        const url_post_action = "@Url.RouteUrl("parametrage.profil.action")";
        const url_delete = '@Url.RouteUrl("parametrage.profil.delete",new{id= 0})';
        var dataTable,etat_action, tr_modif, tr_sup, filename;
    </script>

    <script src="~/Content/Js/PageScript/Profil.js"></script>
}
