﻿@using GestionCourrierNew.Models;
@{
    ViewBag.Title = "Natures des Courriers";
    var list = (List<NATURE>)ViewBag.list;
    list = list ?? new List<NATURE>();
}
@section styles{
    <style type="text/css">
        @@media screen and (max-width: 768px) {
            button.btn.bg-cyan.btn-mod {
                font-size: 0px;
                padding: 5px;
            }

            button.btn.btn-danger.btn-sup {
                font-size: 0px;
                padding: 5px;
            }
        }
    </style>    
}
<div class="card ">
    <div class="header">
        <h2>Natures des Courriers</h2>
        <small>Administrations des natures de courriers manipulées.</small>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                            <tr>
                                @*<th class="col-md-1 col-xs-1 col-lg-1 col-sm-1 ">id</th>*@
                                <th class="col-md-8 col-xs-8 col-lg-8 col-sm-8 " @*width="80%"*@>Libellé</th>
                                <th class="col-md-3 col-xs-3 col-lg-3 col-sm-3 " @*width="20%"*@>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in list)
                            {
                                <tr>
                                    @*<td >@item.Id_nat</td>*@
                                    <td>@(item.Lib_nat)</td>
                                    <td>
                                        <button type="button" class="btn bg-cyan btn-mod" data-toggle="modal" data-target="#Modal" onclick="ShowModal(@item.Id_nat,'modifier','@item.Lib_nat');"><i class="fa fa-edit"></i>Modifier</button>
                                        <button type="button" class="btn btn-danger btn-sup" onclick="ConfirmSup(@item.Id_nat);"><i class="fa fa-trash"></i>Supprimer</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Ajout Large Size -->
<div class="modal fade modal-ajout" id="Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <form name="form" id="form" action="@Url.RouteUrl("parametrage.nature.action")" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" id="id" />
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" id="lib" name="lib" class="form-control" required maxlength="50">
                            <label class="form-label" for="lib">Libellé *</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Fermer</button>
                <button type="submit" form="form" class="btn btn-success waves-effect" id="btn_valid">Valider</button>
            </div>
        </div>
    </div>
</div>
<!--end Modal Ajout Large Size -->

@section scripts{
    <script type="text/javascript">
        const url_post_action = "@Url.RouteUrl("parametrage.nature.action")";
        const url_delete = '@Url.RouteUrl("parametrage.nature.delete",new{id= 0})';
        var dataTable, etat_action, tr_modif, tr_sup;    
    </script>
    <script src="~/Content/Js/PageScript/Nature.js"></script>
}
