﻿@using GestionCourrierNew.Models;
@{
    ViewBag.Title = "Suivi des courriers";
    var list = (IList<COURRIER>)ViewBag.courriers;
    var services = (IList<SERVICE>)ViewBag.services;
    var contacts = (IList<IGrouping<TYPE_CORRESPONDANT, CORRESPONDANT>>)ViewBag.contacts;

    list = list ?? new List<COURRIER>();
    services = services ?? new List<SERVICE>();
    contacts = contacts ?? new List<IGrouping<TYPE_CORRESPONDANT, CORRESPONDANT>>();
}
<div class="card ">
    <div class="header">
        <h2>Suivi des courriers</h2>
        <small>Adresser les différents courriers en attente de traitement aux différents destinataires et modifier le traitement des courriers traités.</small>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="data_trait">
                        <thead>
                            <tr>
                                <th>Code Courrier</th>
                                <th>Objet</th>
                                <th>Nature</th>
                                <th>Expediteur</th>
                                <th>Date Reception</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                       
                        <tbody>
                            @foreach (var item in list)
                            {
                                <tr>
                                    <td>@item.Ref_cour</td>
                                    <td>@item.Obj_cour</td>
                                    <td>@(item.NATURE?.Lib_nat)</td>
                                    @{
                                        var exp = item.ECHANGER.Where(e => e.isDest != true).FirstOrDefault();
                                        if (exp != null)
                                        {
                                            if (exp.Id_cor != null)
                                            {
                                                <td>@(exp.CORRESPONDANT?.Nom_cor)</td>
                                            }
                                            else if (exp.Id_serv != null)
                                            {
                                                <td>Service: @(exp.SERVICE?.Lib_serv)</td>
                                            }
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                     }
                                    <td>@item.Date_cour.ToShortDateString()</td>
                                    <td>
                                        <button type="button" title="Detail" class="btn btn-success btn-det"  data-toggle="modal" data-target="#modal_detail" onclick="AfficherDetail(@item.Id_cour)"><i class="fa fa-eye"></i></button>
                                        @if (item.ECHANGER.Where(e=>e.isDest== true).Count() == 0)
                                        {
                                            <button type="button" title="Traiter le courrier" class="btn bg-cyan btn-add" data-toggle="modal" data-target="#Modal" onclick="ShowModal('add',@item.Id_cour,'@item.Ref_cour');"><i class="fa fa-plus"></i></button>
                                        }
                                        else
                                        {
                                            <button type="button" title="Modifier le traitement" class="btn bg-orange btn-mod" data-toggle="modal" data-target="#Modal" onclick="ShowModal('modifier',@item.Id_cour);"><i class="fa fa-edit"></i></button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_Partial/_PartialModalContact", "modal_contact");

<!--modal detail sur un courrier-->
<div class="modal fade" id="modal_detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
                <h4 class="modal-title modal-title-arrive" id="MyModalLabel">Détail sur un courrier</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="code form-control" disabled>
                            <label class="form-label">Code</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="objet form-control" disabled>
                            <label class="form-label">Objet</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="date form-control" disabled>
                            <label class="form-label">Date de reception</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="fichier form-control" disabled>
                            <a href="#" class="fichier btn btn-default"><i class="fa fa-download"></i></a>
                            <label class="form-label">Fichier joint</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="expediteur form-control" disabled>
                            <label class="form-label">Expéditeur</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="categorie form-control" disabled>
                            <label class="form-label">Catégorie de courrier</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="nature form-control" disabled>
                            <label class="form-label">Nature</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="statut form-control" disabled>
                            <label class="form-label">Statut du courrier</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="type form-control" disabled>
                            <label class="form-label">Type de courrier</label>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="agent form-control" disabled>
                            <label class="form-label">Créer par</label>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="color:black;">
                    <div>
                        <label>LISTES DES DESTINATAIRES</label>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-lg-4 col-xs-6"><label>CORRESPONDANTS</label></div>
                            <div class="col-md-8 col-sm-6 col-lg-8 col-xs-6 dest_contact"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-lg-4 col-xs-6"><label>SERVICES</label></div>
                            <div class="col-md-8 col-sm-6 col-lg-8 col-xs-6 dest_service"></div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link " data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Ajout Large Size -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h4 class="modal-title text-uppercase"></h4>
            </div>
            <div class="modal-body">
                <form  name="form" id="form" action="" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="id" />

                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="code form-control" disabled id="code">
                                <label class="form-label">Code</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <label class="col-md-5 col-sm-2 col-lg-5 col-xs-2 p-l-0" for="service">Services destinataires</label>
                        <div class="col-md-7 col-sm-10 col-lg-7 col-xs-10 p-r-0">
                            <select class="form-control show-tick" id="service" multiple>
                                @foreach (var item in services)
                                {
                                    <option value="@item.Id_serv">@item.Lib_serv</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <label for="contacts">Correspondants destinataires</label>
                        <button type="button" class="btn btn-info" title="Ajouter un correspondant" onclick="functionShowModalContact('modal_contact')"><i class="fa fa-plus"></i></button>
                        <select id="contacts" class="ms" multiple="multiple">
                            @foreach (var item in contacts)
                            {
                                <optgroup label="@item.Key.Lib_typ_cor">
                                    @foreach (var elt in item)
                                    {
                                        <option value="@elt.Id_cor">@elt.Nom_cor</option>
                                    }
                                </optgroup>
                            }
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Fermer</button>
                <button type="submit" form="form" class="btn btn-success waves-effect" id="btn_valid">Valider</button>
            </div>
        </div>
    </div>
</div>
<!--end Modal Ajout Large Size -->

@section scripts{
    <script type="text/javascript">
        const url_edit = '@Url.RouteUrl("traitement.suivi.edit", new{id= 0})';
        const url_post_action = "@Url.RouteUrl("traitement.suivi.action")";
        const url_post_ajoutContact = "@Url.RouteUrl("parametrage.contact.action")";
        var dataTable;
        var etat_action, tr_modif, tr_add;

        function functionShowModalContact(HtmlId) {
            var modal_contact_id = "#" + HtmlId;
            $("#Modal").modal("hide");
            $(modal_contact_id).modal("show");
            $(modal_contact_id).on('hidden.bs.modal', function () {
                $(modal_contact_id + " form input:not([name=__RequestVerificationToken])").val("");
                $("#Modal").modal('show');
            });
        }

        function ActualiseContactList(contact) {
            var tab = [];
            $("#contacts optgroup").each(function (i, item) { tab.push($(item).attr("label")) });
            if (tab.includes(contact.Lib_typ_cor)) {
                var sel = `#contacts optgroup[label=${contact.Lib_typ_cor}]`;
                $(sel).append(`<option value="${contact.Id_cor}" selected>${contact.Nom_cor}</option>`);
                $('#contacts').multiSelect('refresh');
            }
            else {
                $("#contacts").append(`<optgroup label='${contact.Lib_typ_cor}'><option value='${contact.Id_cor}' selected>${contact.Nom_cor}</option></optgroup>`);
                $('#contacts').multiSelect('refresh')
            }
            swal({
                title: "Félicitation",
                text: "Correspondant enregistrée avec succès!!!",
                type: "success"
            }, function () {
                $("#modal_contact").modal('hide');
            });
        }

        $("#data_trait").on('click', '.btn-add', function () {
            tr_modif = $(this).parents('tr:first');
        });

        $("#data_trait").on('click', '.btn-mod', function () {
            tr_add = $(this).parents('tr:first');
        });

        functionShowPresentSsMenu('opt6');

        //initialisation des datatables
        dataTable = $('#data_trait').DataTable({
            "language": {
                "url": "../../Plugins/jquery-datatable/French.json"
            },
            dom: 'lBfrtip',
            responsive: true,
            "autoWidth": false,
            "pageLength": 10,
            "lengthMenu": [10, 25, 50, 75, 100],
            buttons: [
                {
                    text: 'Excel',
                    className: "waves-effect",
                    action: function () {
                        getExportName(".btn-excel");
                    }
                },
                {
                    text: 'Pdf',
                    className: "waves-effect",
                    action: function () {
                        getExportName(".btn-pdf");
                    }
                },
                {
                    text: 'Imprimer',
                    className: "waves-effect",
                    action: function () {
                        getExportName(".btn-print");
                    }
                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    },
                    className: "waves-effect btn-excel",
                    filename: function () { return filename }
                },
                {
                    extend: 'pdf',
                    className: "waves-effect btn-pdf",
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    },
                    filename: function () { return filename },
                    title: function () { return filename },
                },
                {
                    extend: 'print',
                    className: "waves-effect btn-print",
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4]
                    },
                    filename: function () { return filename },
                    text: "IMPRIMER",
                    extension: 'filepdf.pdf',
                    //autoPrint: false,
                    title: function () { return filename },
                    customize: function (win) {
                        console.log(win);
                        $(win.document.body)
                            .css('font-size', '10pt')
                        $(win.document.body).find('#data_trait')
                            .addClass('compact')
                            .css('font-size', '10pt');
                    }
                }
            ],
        });

        function AfficherDetail(id) {
            var url = url_edit.replace("0", id);
            $.get(url)
                .done(function (result) {
                    if (result.state==true) {
                        var courrier = result.courrier_en_traitement;
                        $("#modal_detail .code").val(courrier.Ref_cour).parents('div:first').addClass('focused');
                        $("#modal_detail .objet").val(courrier.Obj_cour).parents('div:first').addClass('focused');
                        $("#modal_detail .nature").val(courrier.nature).parents('div:first').addClass('focused');
                        $("#modal_detail .date").val(courrier.date).parents('div:first').addClass('focused');
                        $("#modal_detail .statut").val(courrier.statut).parents('div:first').addClass('focused');
                        $("#modal_detail .type").val(courrier.type).parents('div:first').addClass('focused');
                        $("#modal_detail .categorie").val(courrier.categorie).parents('div:first').addClass('focused');

                        $("#modal_detail .agent").val(courrier.agent).parents('div:first').addClass('focused');
                        $("#modal_detail .expediteur").val(courrier.expediteur==null?"":courrier.expediteur.nom).parents('div:first').addClass('focused');

                        $("#modal_detail input.fichier").val(courrier.nom_fichier == "" ? "Aucun fichier joint" : courrier.nom_fichier).parents('div:first').addClass('focused');
                        if (courrier.chemin == "") {
                            $("#modal_detail a.fichier").addClass("disabled").attr("href", "#");
                        }
                        else {
                            $("#modal_detail a.fichier").attr("href", courrier.chemin).removeClass("disabled");
                        }
                        var contact_dest = courrier.contact;
                        var service_dest = courrier.service;

                        $("#modal_detail .dest_service,#modal_detail .dest_contact").html("");
                        if (contact_dest.length==0) {
                            $("#modal_detail .dest_contact").html("Aucun");
                        }
                        else {
                            for(var item of contact_dest) {
                                $("#modal_detail .dest_contact").append(`-${item.Nom_cor}<br/>`);
                            }
                        }
                        if (service_dest.length == 0) {
                            $("#modal_detail .dest_service").html("Aucun");
                        }
                        else {
                            for(var item of service_dest) {
                                $("#modal_detail .dest_service").append(`-${item.Lib_serv}<br/>`);
                            }
                        }
                    }
                    else {
                        swal("Erreur", result.message, "error");
                    }
                })
                .fail(function () { swal("Erreur", "La requête n'a pas pu être traitée!!!", "error"); });
        }

        //Multi-select
        $('#contacts').multiSelect({ selectableOptgroup: true });

        function ShowModal(etat, id,ref_cour) {
            etat_action = etat;

            if (etat_action === 'modifier') {
                $("#Modal .modal-title").text("Modification des destinataires du courrier");
                var url = url_edit.replace("0", id);
                $.get(url).done(function (data) {
                    if (data.state == true) {
                        courrier = data.courrier_en_traitement;

                        $("#id").val(courrier.Id_cour);

                        $("#code").val(courrier.Ref_cour).parents('div:first').addClass('focused').attr('disabled', true);

                        var service = $.map(courrier.service, function (item) { return item.Id_serv });
                        $("#service").val(service).selectpicker("refresh");

                        var contact = $.map(courrier.contact, function (item) { return item.Id_cor });
                        $("#contacts").val(contact).multiSelect("refresh");
                    }
                    return false;
                });
            }
            else {
                $("#id").val(id);
                $("#Modal .modal-title").text("DESTINATAIRES DU COURRIER");
                $("#Modal select:not(#contacts)").val("").selectpicker('refresh');
                $('#contacts').multiSelect('deselect_all');
                $("#code").val(ref_cour).parents('div:first').addClass('focused').attr('disabled', true);
            }
        }

        $("#form").on("submit", function (e) {
            e.preventDefault();
            var services = $("#service").val();
            var contacts = $("#contacts").val();

            if (services == null && contacts == null) {
                swal("Attention", "Vous devez sélectionner au moins un destinataire", "warning");
                return false;
            }
            else {
                var formdata = new FormData();
                var id = $("#id").val();
                var code = $("#code").val();
                var antiforget = $("#form input[name=__RequestVerificationToken]").val();

                formdata.append("id", id);

                if (services != null) {
                    for(var item of services) {
                        formdata.append("services[]", item);
                    }
                }

                if (contacts != null) {
                    for(var item of contacts) {
                        formdata.append("contacts[]", item);
                    }
                }

                formdata.append("__RequestVerificationToken", antiforget);

                $.ajax({
                    type: "post",
                    url: url_post_action,
                    contentType: false,
                    processData: false,
                    dataType: "json",
                    data: formdata,
                    success: function (result) {
                        if (result.state) {
                            swal({
                                title: "Information",
                                text: "Modification enregistré avec succès",
                                type: "success"
                            },
                            function () {
                                $("#Modal").modal("hide");
                                window.location.reload();
                            });
                        }
                        else {
                            swal("Erreur", result.message, "error");
                        }
                    }
                });

                //$.post(url_post_action, { id, services, contacts, __RequestVerificationToken:antiforget})
                //    .done(function (result) {
                //        if (result.state) {
                //            swal({
                //                title: "Information",
                //                text: "Modification enregistré avec succès",
                //                type: "success"
                //            },
                //            function () {
                //                $("#Modal").modal("hide");
                //                window.location.reload();
                //            });
                //        }
                //        else {
                //            swal("Erreur", result.message, "error");
                //        }
                //    })
                //    .fail(function () {
                //        swal("Erreur", "Désolé une erreur est survenue lors de l'envoi de la requête!!!", "error");
                //    });
            }
        });

        function FormatNowDate() {
            let today = new Date();
            let y = today.getFullYear();
            let m = today.getMonth() + 1;
            let j = today.getDate();
            let h = today.getHours();
            let min = today.getMinutes();
            if (m < 10) { m = "0" + m };
            if (j < 10) { j = "0" + j };
            if (h < 10) { h = "0" + h };
            if (min < 10) { min = "0" + min };
            return (j + '-' + m + '-' + y + " " + h + ":" + min);
        }

        function getExportName(buttonClass) {
            swal({
                title: "Nom du fichier à exporter!",
                text: "Entrez le nom du fichier à exporter svp!!!",
                type: "input",
                showCancelButton: true,
                cancelButtonText: "Annuler",
                closeOnConfirm: false,
                animation: "slide-from-top",
                inputPlaceholder: "Entrez le nom du fichier svp !!!",
                inputValue: "Liste des courriers en suivi du " + FormatNowDate()
            }, function (inputValue) {
                if (inputValue === false) return false;
                if (inputValue.trim() === "") {
                    swal.showInputError("Vous devez renseigner un nom de fichier!!!"); return false
                }
                filename = inputValue;
                $(buttonClass).click();
                swal.close();
            });
        }
    </script>
    <script src="~/Content/Js/PageScript/_SharedAddContact.js"></script>
}
