﻿
@{
    ViewBag.title = "Tableau de bord";
    var traite = ViewBag.nb_traite;
    var non_traite = ViewBag.nb_non_traite;
    var attente = ViewBag.nb_attente;
    var utilisateur = ViewBag.nb_utilisateur;
}

@section styles{
    <style>
        .highcharts-menu{
            overflow: auto;
            max-height: 200px;
            font-family: "crimson text";
            font-size: 14px;
            font-weight: 600;
        }
        .highcharts-menu hr{
            margin-top:5px;
            margin-bottom:5px;
        }
    </style>
}

<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-pink hover-expand-effect">
            <div class="icon">
                <i class="material-icons">playlist_add_check</i>
            </div>
            <div class="content">
                <div class="text">Non Traité</div>
                <div class="number">@non_traite</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan hover-expand-effect">
            <div class="icon">
                <i class="material-icons">help</i>
            </div>
            <div class="content">
                <div class="text">Attente de traitement</div>
                <div class="number">@attente</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-light-green hover-expand-effect">
            <div class="icon">
                <i class="material-icons">forum</i>
            </div>
            <div class="content">
                <div class="text">Traité</div>
                <div class="number">@traite</div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-orange hover-expand-effect">
            <div class="icon">
                <i class="material-icons">person_add</i>
            </div>
            <div class="content">
                <div class="text">Utilisateurs</div>
                <div class="number">@utilisateur</div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="header">
                <h2>Avancé des traitements</h2>
            </div>
            <div class="body">
                <div id="chart1" style="height:300px;"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="header">
                <h2>Détail sur les courriers traités</h2>
            </div>
            <div class="body">
                <div id="chart2" style="height:150px;"></div>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h2>Détail sur les courriers en attente de traitement</h2>
            </div>
            <div class="body">
                <div id="chart3" style="height:150px;"></div>
            </div>
        </div>
    </div>
    
    @*<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="header">
                <h2>Détail sur les courriers traités</h2>
            </div>
            <div class="body">
                <div id="chart2" style="height:250px;"></div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="header">
                <h2>Détail sur les courriers en attente de traitement</h2>
            </div>
            <div class="body">
                <div id="chart3" style="height:250px;"></div>
            </div>
        </div>
    </div>*@
</div>

@section scripts{
    <script src="~/Plugins/HightCharts/highcharts.js"></script>
    <script src="~/Plugins/HightCharts/exporting.js"></script>
    <script src="~/Plugins/HightCharts/offline-exporting.js"></script>
    <script src="~/Plugins/HightCharts/export-data.js"></script>
    <script src="~/Content/Js/HightChartOPtion.js"></script>
    <script>
        const url_data = "@Url.RouteUrl("dashboad.data")";
        functionShowPresentSsMenu('opt2');
        $(function () {

            $.get(url_data).done(function (result) {
                if (result.state) {
                    var data=result.final_graph_data;
                    Highcharts.chart('chart1', {
                        yAxis: {
                            min: 0,
                            title: {
                                text: ''
                            }
                        },
                        xAxis: {
                            categories: data.categories
                        },
                        colors: ["#E91E63", "#00BCD4", "#8BC34A"],
                        series: [
                            {
                                name: 'Non traité',
                                data: data.graphe_tout_statut.nontraite
                            },
                            {
                                name: 'En Attente de traitement',
                                data: data.graphe_tout_statut.attente
                            },
                            {
                                name: 'Traité',
                                data: data.graphe_tout_statut.traite
                            }
                        ]
                    });

                    Highcharts.chart('chart2', {
                        yAxis: {
                            min: 0,
                            title: {
                                text: ''
                            }
                        },
                        xAxis: {
                            categories: data.categories
                        },
                        colors: ["#ff9800", "#009688", "#f44336"],
                        series: [
                            {
                                name: 'Courrier Arrivé',
                                data: data.graphe_statut_traite.arrive_traite
                            },
                            {
                                name: 'Courrier Départ',
                                data: data.graphe_statut_traite.depart_traite

                            },
                            {
                                name: 'Réponse',
                                data: data.graphe_statut_traite.reponse_traite
                            }
                        ]
                    });

                    Highcharts.chart('chart3', {
                        yAxis: {
                            min: 0,
                            title: {
                                text: ''
                            }
                        },
                        xAxis: {
                            categories: data.categories
                        },
                        colors: ["#ff9800", "#009688", "#f44336"],
                        series: [
                            {
                                name: 'Courrier Arrivé',
                                data: data.graphe_statut_attente.arrive_attente
                            },
                            {
                                name: 'Courrier Départ',
                                data: data.graphe_statut_attente.depart_attente

                            },
                        ]
                    });
                }
            });
        });
    </script>

    @*<script src="https://code.highcharts.com/modules/accessibility.js"></script>*@

    @*<script type="text/javascript">
        const url_data = "@Url.RouteUrl("dashboad.data")";
        const statut_traite = "@Html.Raw(GestionCourrierNew.Helper.StatutCourrier.Traite.Item2)";
        const statut_attente = "@Html.Raw(GestionCourrierNew.Helper.StatutCourrier.Attente.Item2)";
        const statut_non_traite = "@Html.Raw(GestionCourrierNew.Helper.StatutCourrier.Non_traite.Item2)";
        functionShowPresentSsMenu('opt2');

        var data_courrier = [];
        var data_reponse = [];
        var data_arrive = [];
        var data_depart = [];

        var tab_douze_mois = ['','Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Decembre'];
        //donnee dont on a besoin pour le graphe
        var categorie = [];
        var data_traite = [];
        var data_non_traite = [];
        var data_attente = [];
        var data_reponse = [];
        var data_arrive = [];
        var data_depart = [];
        var tab = [];


        $(function () {
            $.get(url_data).done(function (result) {
                if (result.state) {

                    data_courrier = result.tout_courrier;
                    traite_courrier = result.traite_courrier;
                    window.traite = result.traite_courrier;
                    console.log(result.traite_courrier);
                    //on recupere tous les mois du tableau de donnee
                    var tab_mois = data_courrier.map(function (item) { return parseInt(item.mois) });

                    //tableau qui contient les donnee reformatees

                    //on formate les donnees obtenu pour que les valeurs de chaque abscisse soit renseignee
                    //$(data_courrier).each(function(i,item){
                    //    var objet={
                    //        mois:parseInt(item.mois),
                    //        attente:0,
                    //        traite:0,
                    //        non_traite:0
                    //    };
                    //    $(item.data).each(function(ind,stat){
                    //        if(stat.statut==statut_traite){
                    //            objet.traite=stat.nombre;
                    //        }
                    //        else if (stat.statut == statut_attente) {
                    //            objet.attente = stat.nombre;
                    //        }
                    //        else {
                    //            objet.non_traite = stat.nombre;
                    //        }
                    //    });
                    //    tab.push(objet);
                    //});
                    for (i = 1; i <= $(tab_mois).last()[0]; i++) {
                        //on renseigne le tableau des mois
                        categorie.push(tab_douze_mois[i]);
                        //on recherche les donnees de ce mois
                        if (tab_mois.includes(i)) {
                            var objet = {
                                attente: 0,
                                traite: 0,
                                non_traite: 0
                            };
                            //renseigne les tableau pour le graphe de l'ensemble des courrier : graphe 1
                            var retour = data_courrier.find(e=>e.mois == i);
                            $(retour.data).each(function (ind, stat) {
                                if (stat.statut == statut_traite) {
                                    objet.traite = stat.nombre;
                                }
                                else if (stat.statut == statut_attente) {
                                    objet.attente = stat.nombre;
                                }
                                else {
                                    objet.non_traite = stat.nombre;
                                }
                            });
                            data_traite.push(objet.traite);
                            data_non_traite.push(objet.non_traite);
                            data_attente.push(objet.attente);

                            //renseigne les tableau pour le graphe des courriers traite : graphe 1
                            //pour les courrier arrive
                            var retour_arrive = traite_courrier.list_arrive.find(e=>e.mois == i);
                            if (retour_arrive == null) {
                                data_arrive.push(0);
                            }
                            else {
                                data_arrive.push(retour_arrive.data);
                            }
                            //pour les courriers depart
                            var retour_depart = traite_courrier.list_dep.find(e=>e.mois == i);
                            if (retour_depart == null) {
                                data_depart.push(0);
                            }
                            else {
                                data_depart.push(retour_depart.data);
                            }
                            //pour les courriers reponse
                            var retour_reponse = traite_courrier.list_rep.find(e=>e.mois == i);
                            if (retour_reponse == null) {
                                data_reponse.push(0);
                            }
                            else {
                                data_reponse.push(retour_reponse.data);
                            }
                        }
                        else {
                            data_traite.push(0);
                            data_non_traite.push(0);
                            data_attente.push(0);

                            data_reponse.push(0);
                            data_arrive.push(0);
                            data_depart.push(0);
                        }
                    }
                    Highcharts.chart('chart1', {
                        yAxis: {
                            min: 0,
                            title: {
                                text: ''
                            }
                        },
                        xAxis: {
                            categories: categorie
                        },
                        colors: ["#E91E63", "#00BCD4", "#8BC34A"],
                        series: [
                            {
                                name: 'Non traité',
                                data: data_non_traite
                            },
                            {
                                name: 'En Attente de traitement',
                                data: data_attente
                            },
                            {
                                name: 'Traité',
                                data: data_traite
                            }
                        ]
                    });

                    Highcharts.chart('chart2', {
                        yAxis: {
                            min: 0,
                            title: {
                                text: ''
                            }
                        },
                        xAxis: {
                            categories: categorie
                        },
                        colors: ["#ff9800", "#009688", "#f44336"],
                        series: [
                            {
                                name: 'Courrier Arrivé',
                                data: data_arrive
                            },
                            {
                                name: 'Courrier Départ',
                                data: data_depart

                            },
                            {
                                name: 'Réponse',
                                data: data_reponse
                            }
                        ]
                    });
                }
            });
        });
    </script>*@
}