﻿@using GestionCourrierNew.Models;
@{
    ViewBag.Title = "Impression de courrier";
    var courrier = (COURRIER)ViewBag.courrier;
    var url_retour = ViewBag.url_retour;
    var archive =(string) ViewBag.archive;
}
@section styles{
    <style media="print">
        @@media print {
            .btn,.search-bar,.navbar,#rightsidebar,#leftsidebar,.header{
                display: none;
            }
            .content{
                margin:0px !important;
            }
            .bottom {
                position: absolute;
                bottom: calc(29.7cm - 5cm);
                right: 0cm;
            }
            .body {
                height: 29.7cm;
                width: 21cm;
                margin:0px !important;
                padding:0px !important;
                border:none;
                
            }
            blockquote{
                border:0px;
            } 
            /*.body{
                height:auto;
            }*/
        }
    </style>
    <style media="screen">
        .body {
                height: 29.7cm;
                width: 21cm;
                border:solid 1px;
                margin:auto;
                margin-top:5px;
            }
        .card{
            min-width:21cm;
        }
       
    </style>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-right p-b-10" >
        <a href="@url_retour" class="btn btn-success"><i class="fa fa-arrow-circle-left"></i> Retour</a>
        <button class="btn btn-info" onclick="window.print();"><i class="fa fa-print"></i> Imprimer</button>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="card p-b-10">
            <div class="header">
                <h2>
                    Impression de courrier
                    <small>Vous avez la possibilite d'imprimer les courriers départs avant de les expédier.</small>
                </h2>
            </div>
            @if (courrier.CATEGORIE_COURRIER?.Lib_cat_cour.ToLower().Contains("soit") == true)
            {
                <div class="body st">
                    <div>
                        <span class="align-left">@courrier.Ref_cour</span>
                        <span class="align-right" style="display:inline-block;float:right;">@string.Format("Abidjan, Le {0:dd MMMM yyyy}", DateTime.Now)</span>
                        @*<span class="align-right" style="display:inline-block;">@string.Format("Abidjan, Le {0:dd MMMM yyyy}", DateTime.Now)</span>
                        <span class="align-left" style="display:inline-block;">@courrier.Ref_cour</span>*@
                        <h3 class="text-center"><u>SOIT TRANSMIS</u></h3>
                        <div class="text-center">
                            <h4 id="adress"  style="padding-top:1cm;">A</h4>
                        </div>
                        <div class="botto">@Html.Raw(courrier.Cont_cour)</div>
                        <div class="bottom" style="bottom:30px;right:0px;text-align:right;">
                            <p class="align-right" style="padding-top:1cm;">
                                <b>Directeur Général du CNTIG,</b><br />
                                Secrétaire Général du Comité National<br />
                                de Télédétection et d'Information Géographique
                            </p><br /><br /><br />
                            <p class="align-right"><u><b>Dr. Edouard Fonh Gbei</b></u></p>
                        </div>
                    </div>
                </div>}
            else
            {
                <div class="body ca">
                    <div class="align-right">
                        <p class="align-right">@string.Format("Abidjan, Le {0:dd MMMM yyyy}", DateTime.Now)</p>
                        <p class="align-left">@courrier.Ref_cour</p>
                        <p class="align-right"><b id="adress">@string.Format("A")</b></p>
                        <p class="align-left"><u><b>Objet: </b></u>@courrier.Obj_cour</p>
                        <p class="align-left"><b id="salutation"></b></p>
                        <div class="align-left">@Html.Raw(courrier.Cont_cour)</div>
                        <div class="align-right bottom" style="bottom:30px;right:0px;">
                            <p class="align-right">
                                <b>Directeur Général du CNTIG,</b><br />
                                Secrétaire Général du Comité National<br />
                                de Télédétection et d'Information Géographique
                            </p><br /><br /><br />
                            <p class="align-right"><u><b>Dr. Edouard Fonh Gbei</b></u></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script>
        const url = "@(archive==null? Url.RouteUrl("shared.courrier.destinataires", new { id = courrier.Id_cour }): Url.RouteUrl("CourrierDepart.Imprimer.getDestArchive", new { dest_archive = archive }) )";
        $("#leftsidebar .menu .list").html(`
                    <li class ="header">APERCU AVANT IMPRESSION DE COURRIER</li>
                    <li id="service">
                                        <a href="javascript:void(0);" style="padding-left:20px;" class ="menu-toggle waves-effect waves-block">
                                            <span>Service</span>
                                        </a>
                                        <ul class ="ml-menu" >

                                        </ul>
                                    </li>
                                    <li id="contact">
                                        <a href="javascript:void(0);" style="padding-left:20px;" class ="menu-toggle waves-effect waves-block">
                                            <span>Contact</span>
                                        </a>
                                        <ul class ="ml-menu" >

                                        </ul>
                                    </li>
                `);
        $.AdminBSB.leftSideBar.activate();
        $.get(url).done(function (result) {
            console.log(result);
            if (result.state) {
                
                var contact = result.data.destCont;
                var service = result.data.destServ;
                if (contact.length == 0) {
                    $("#contact").remove();
                }
                else {
                    $(contact).each(function (i, item) {
                        $("#contact ul.ml-menu").append(`
                            <li class ="cont${i} choix_dest" onclick="functionShowPresentSsMenu('cont${i}');" data-type="contact" data-civ="${item.Civ_cor}" data-resp="${item.Resp_cor}" data-lib="${item.Nom_cor}">
                                <a href="#" style="padding-left:40px;"  class ="waves-effect waves-block ">${item.Nom_cor}
                                </a>
                            </li>
                        `);
                    });
                }
                if (service.length == 0) {
                    $("#service").remove();
                    $(".cont0").click();
                }
                else {
                    $(service).each(function (i, item) {
                        $("#service ul.ml-menu").append(`
                            <li class ="serv${i} choix_dest" onclick="functionShowPresentSsMenu('serv${i}');" data-type="service" data-lib="${item.Lib_serv}" data-civ="${item.Civ_serv}" data-resp="${item.Resp_serv}">
                                <a href="#" style="padding-left:40px;"  class ="waves-effect waves-block">${item.Lib_serv}
                                </a>
                            </li>
                        `);
                    });
                    $(".serv0").click();
                }
                $.AdminBSB.leftSideBar.activate();
            }
            else {
                swal("Attention", "Une erreur est survenue lors du chargement des données", "warning");
            }
        });

        $("section").on('click', ".choix_dest", function () {
            var civ = $(this).data('civ')=="M."?"Monsieur":$(this).data('civ')=="Mlle"?"Mademoiselle":"Madame";
            var resp = $(this).data('resp');
            var type = $(this).data("type");
            var lib = $(this).data("lib");
            if (type == "service") {
                $(".ca #adress").html(`A<br>${civ} ${resp} <br>Responsable du service ${lib}`);
                $(".st #adress").html(`A<br><br>${civ} ${resp}, Responsable du service ${lib}`);
                $("#salutation").html(`${civ},`);
            }
            else {
                if (resp != "" && resp!=null) {
                    $(".ca #adress").html(`A <br>Monsieur le Directeur Général de <br>${lib}`);
                    $(".st #adress").html(`A <br><br>Monsieur le Directeur Général de ${lib}`);
                    $("#salutation").html("Monsieur le Directeur Général,");
                }
                else {
                    $("#adress").html(`A <br>${civ} ${lib}`);
                    $("#salutation").html(`${civ},`);
                }
            }
            var tab = [];
            $(".body div .align-right").css("display", "inline-block").each(function (i, item) { tab.push(item.offsetWidth) });
            window.tab = tab;
            var width = $(tab.sort(function (i, o) { return i - o })).last()[0];
            console.log(width);
            $(".body div .align-right").css({ "width": `${(width+1)||"320"}px`, "display": "inline-block", "text-align": "left" });

        });
    </script>
}