﻿
@using GestionCourrierNew.Models;
@{
    ViewBag.Title = "Consultation";
    ViewBag.bodyClass = "hideLeftSidebar";

    var type_courrier = (IList<TYPE_COURRIER>)ViewBag.type_courrier ?? new List<TYPE_COURRIER>();
    var nature = (IList<NATURE>)ViewBag.nature ?? new List<NATURE>();
    var statutCourrier = (IList<Tuple<int, string>>)ViewBag.statutCourrier;
    var agent = (IList<UTILISATEUR>)ViewBag.agent ?? new List<UTILISATEUR>();
    var categorie_courrier = (IList<CATEGORIE_COURRIER>)ViewBag.categorie_courrier ?? new List<CATEGORIE_COURRIER>();

}
@section styles{
    <style>
        .col-xs-12.ol-sm-12.col-md-12.col-lg-12.p-r-0.p-l-0 {
            margin-bottom: 5px;
        }

        .bg-orangered {
            background-color: orangered !important;
            color: white;
        }
    </style>
}
<div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
    <div class="card ">
        <div class="header">
            <h2>Critères de recherche</h2>
            <small>Listes des critères</small>
        </div>
        <div class="body">
            <div class="row clearfix">
                <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                    <form>
                        <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12 p-r-0 p-l-0">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="number" class="form-control" id="annee">
                                    <label class="form-label">Année d'archivage</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12 p-r-0 p-l-0">
                            <label class="col-xs-4 ol-sm-12 col-md-4 col-lg-4 p-r-0 p-l-0">Type de courrier</label>
                            <div class="col-xs-8 ol-sm-12 col-md-8 col-lg-8 p-r-0 p-l-0">
                                <select id="type_courrier" class="form-control show-tick" data-live-search="true">
                                    <option value="0">Tout</option>
                                    @foreach (var item in type_courrier)
                                    {
                                        <option value="@item.Id_typ_cour">@item.Lib_typ_cour</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12 p-r-0 p-l-0">
                            <label class="col-xs-4 ol-sm-12 col-md-4 col-lg-4 p-r-0 p-l-0">Agent Recepteur</label>
                            <div class="col-xs-8 ol-sm-12 col-md-8 col-lg-8 p-r-0 p-l-0">
                                <select id="agent" class="form-control show-tick" data-live-search="true">
                                    <option value="0">Tout</option>
                                    @foreach (var item in agent)
                                    {
                                        <option value="@item.Id_util">@item.Nom_util</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12 p-r-0 p-l-0">
                            <label class="col-xs-4 ol-sm-12 col-md-4 col-lg-4 p-r-0 p-l-0">Nature du courrier</label>
                            <div class="col-xs-8 ol-sm-12 col-md-8 col-lg-8 p-r-0 p-l-0">
                                <select id="nat" class="form-control show-tick" data-live-search="true">
                                    <option value="0">Tout</option>
                                    @foreach (var item in nature)
                                    {
                                        <option value="@item.Id_nat">@item.Lib_nat</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12 p-r-0 p-l-0">
                            <label class="col-xs-4 ol-sm-12 col-md-4 col-lg-4 p-r-0 p-l-0">Avancé du traitement</label>
                            <div class="col-xs-8 ol-sm-12 col-md-8 col-lg-8 p-r-0 p-l-0">
                                <select id="statut" class="form-control show-tick" data-live-search="true">
                                    <option value="0">Tout</option>
                                    @foreach (var item in statutCourrier)
                                    {
                                        <option value="@item.Item1">@item.Item2</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12 p-r-0 p-l-0" id="div_categorie">
                            <label class="col-xs-4 ol-sm-12 col-md-4 col-lg-4 p-r-0 p-l-0">Catégorie de courrier</label>
                            <div class="col-xs-8 ol-sm-12 col-md-8 col-lg-8 p-r-0 p-l-0">
                                <select id="categorie" class="form-control show-tick" data-live-search="true">
                                    <option value="0">Tout</option>
                                    @foreach (var item in categorie_courrier)
                                    {
                                        <option value="@item.Id_cat_cour">@item.Lib_cat_cour</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12 p-r-0 p-l-0">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" id="cont">
                                    <label class="form-label">Objet/Destinataires/Expediteur</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12 p-r-0 p-l-0">
                            <button type="button" class="btn bg-amber bg-orangered btn-block waves-effect" onclick="Rechercher();"><i class="fa fa-search"></i> Rechercher</button>
                        </div>
                        <hr />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8 col-lg-9 col-sm-12 col-xs-12">
    <div class="card ">
        <div class="header">
            <h2>Consultation des archives</h2>
            <small>Visualisation de tous les courriers archivés.</small>
        </div>
        <div class="body">
            <div class="row clearfix">
                <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="archive">
                            <thead>
                                <tr>
                                    <th class="col-md-3 col-xs-3 col-lg-3 col-sm-8 ">Code courrier</th>
                                    <th class="col-md-3 col-xs-3 col-lg-3 col-sm-8 ">Objet</th>
                                    <th class="col-md-2 col-xs-2 col-lg-2 col-sm-8 ">Réceptionniste</th>
                                    <th class="col-md-2 col-xs-2 col-lg-2 col-sm-8 ">Nature</th>
                                    <th class="col-md-2 col-xs-2 col-lg-2 col-sm-8 ">Statut</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Partial/_PartialInfoCourrier")

@section scripts{
    <script type="text/javascript">
        const url_search_archive = "@Url.RouteUrl("archives.consulter.data")";
        const url_print = "@Url.RouteUrl("CourrierDepart.Imprimer.archivage", new { id=0})";
        const url_detail = "@Url.RouteUrl("archives.consulter.detail", new { id_arch = 0 })";
        var dataTable;
        var resultat = [];

        functionShowPresentSsMenu('opt5');

        dataTable = CreateDatatableWithExportButton('.dataTable', "Liste des courriers archivés du " + FormatNowDate());

        function Rechercher() {
            var type_courrier = $("#type_courrier").val()=="0"?"":$("#type_courrier option:selected").text();
            var agent = $("#agent").val() == "0" ? "" : $("#agent option:selected").text().trim();
            var nat = $("#nat").val() == "0" ? "" : $("#nat option:selected").text().trim();
            var statut = $("#statut").val() == "0" ? "" : $("#statut option:selected").text().trim();
            var categorie = $("#categorie").val() == "0" ? "" : $("#categorie option:selected").text().trim();
            var autresCriteres = $("#cont").val().trim();
            var annee = $("#annee").val();
            annee = annee == "" ? 0 : annee;

            $.post(url_search_archive, {
                Lib_cat: categorie,
                Nom_util: agent,
                Lib_nat: nat,
                stat_cour: statut,
                typ_cour: type_courrier,
                other: autresCriteres,
                annee:annee
            })
                .done(function (data) {
                    dataTable.clear().draw();
                    if (data.state == true) {
                        console.log(data.list_arch);
                        window.resultat = data.list_arch;
                        resultat=data.list_arch;
                        $(data.list_arch).each(function (i, item) {
                            let action = "";
                            if (item.Lib_typ_cour.toLowerCase().includes("arr")) {
                                action = `
                                        <button onclick="ShowDetail(${item.Id_arch})" class ="btn bg-cyan" title="afficher les détails sur le courrier" data-target="#modal_info_courrier" data-toggle="modal"><i class ="fa fa-eye"></i></button>
                                    `;
                            }
                            else {
                                if (item.Stat_cour_arch=="@Html.Raw(GestionCourrierNew.Helper.StatutCourrier.Attente.Item2)"){
                                    action = `
                                        <button onclick="ShowDetail(${item.Id_arch})" class ="btn bg-cyan" title="afficher les détails sur le courrier" data-target="#modal_info_courrier" data-toggle="modal"><i class ="fa fa-eye"></i></button>
                                    `;
                                }
                                else {
                                    action = `
                                        <button onclick="ShowDetail(${item.Id_arch})" class ="btn bg-cyan" title="afficher les détails sur le courrier" data-target="#modal_info_courrier" data-toggle="modal"><i class ="fa fa-eye"></i></button>
                                        <a href="${url_print.replace('0', item.Id_arch)}" class ="btn bg-orange" title="Imprimer le courrier"><i class ="fa fa-print"></i></button>
                                    `;
                                }
                            }

                            dataTable.row.add([
                                item.Ref_cour,
                                item.Obj_cour,
                                item.Nom_util,
                                item.Lib_nat,
                                item.Stat_cour,
                                action
                            ]);
                        });
                        dataTable.draw();
                        ShowSuccessMessage("Mise à jour de la liste éffectuée");
                    }
                    else {
                        ShowErrorMessage("Une erreur est survenue lors de la recherche des données");
                    }
                })
        }

        $(window).on('load', function () { Rechercher(); });

        function ShowDetail(id) {
            var url = url_detail.replace("0", id);
            $.get(url).done(function (results) {
                if (results.state == true) {
                    result = results.archive;
                    console.log(result);
                    $("#modal_info_courrier .code ").val(result.Ref_cour).parents("div:first").addClass("focused");
                    $("#modal_info_courrier .courrier_reponse ").val(result.Ref_rep).parents("div:first").addClass("focused");
                    $("#modal_info_courrier .date").val(result.date).parents("div:first").addClass("focused");
                    $("#modal_info_courrier .objet").val(result.Obj_cour).parents("div:first").addClass("focused");
                    $("#modal_info_courrier input.fichier").val(result.Nom_fichier_joint).parents("div:first").addClass("focused");
                    $("#modal_info_courrier a.fichier").attr("href", `${result.Lien_cour}`);
                    $("#modal_info_courrier .nature").val(result.Lib_nat).parents("div:first").addClass("focused");
                    $("#modal_info_courrier .type").val(result.Lib_typ_cour).parents("div:first").addClass("focused");
                    $("#modal_info_courrier .statut").val(result.Stat_cour).parents("div:first").addClass("focused");
                    $("#modal_info_courrier .categorie").val(result.Lib_cat_cour).parents("div:first").addClass("focused");
                    $("#modal_info_courrier .agent").val(result.Nom_util).parents("div:first").addClass("focused");
                    $("#modal_info_courrier .exp").val(result.expediteur==null?"":result.expediteur.Nom).parents("div:first").addClass("focused");
                    $("#modal_info_courrier .code_lien").val(result.Ref_arr!=null?result.Ref_arr:result.Ref_rep!=null?result.Ref_rep:"").parents("div:first").addClass("focused");
                    $("#modal_info_courrier .dest_contact,#modal_info_courrier .dest_service").html(`<p>-Aucun<p>`);
                    if (result.destinataire != null) {
                        if (result.destinataire.Item1.length> 0) {
                            $("#modal_info_courrier .dest_service").empty();
                        }
                        if (result.destinataire.Item2.length>0) {
                            $("#modal_info_courrier .dest_contact").empty();
                        }

                        $(result.destinataire.Item1).each(function (i,item) {
                            $("#modal_info_courrier .dest_service").append(`<p>-${item.Nom}<p>`);
                        });

                        $(result.destinataire.Item2).each(function (i, item) {
                            $("#modal_info_courrier .dest_contact").append(`<p>-${item.Nom}<p>`);
                        });
                    }
                }
                else {
                    console.log(results.message);
                    ShowErrorMessage("Une erreur est survenue lors de la recherche des données");
                }
            });
        }


    </script>
}

