﻿@using GestionCourrierNew.Models;
@{
    ViewBag.Title = "Archivages des régistres";
    var list = (IList<COURRIER>)ViewBag.list ?? new List<COURRIER>();
    var nb_attente = list.GroupBy(e => e.Stat_cour).Select(e => new { e.Key, c = e.Count() }).ToList();
    string mes = "la table contient: <br>";
    foreach(var item in nb_attente)
    {
        mes += string.Format("- <u class='text-info font-bold'>{0}</u> courrrier avec le statut <u class='text-info font-bold'>{1}</u><br>", item.c,item.Key);
    }
}
<div class="card ">
    <div class="header">
        <h2>Archivages des courriers</h2>
        <small>Gestion des courriers et de l'archivage.</small>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                @*<div class="row">
                    <label class="col-md-5 col-sm-2 col-lg-5 col-xs-2" for="etat">Type de courrier</label>
                    <div class="col-md-7 col-sm-10 col-lg-7 col-xs-10">
                        <select class="form-control show-tick" name="etat" id="etat" onchange="LoadListCourrier(this)">
                            <option value="0" selected>Tout</option>
                            @foreach (var item in etats)
                            {
                                <option value="@item.Item1">@item.Item2</option>
                            }
                        </select>
                    </div>*@
                </div>
                <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="archive">
                            <thead>
                                <tr>
                                    <th class="col-md-3 col-xs-3 col-lg-3 col-sm-8 ">Code courrier</th>
                                    <th class="col-md-3 col-xs-3 col-lg-3 col-sm-8 ">Objet</th>
                                    <th class="col-md-2 col-xs-2 col-lg-2 col-sm-8 ">Réceptionniste</th>
                                    <th class="col-md-2 col-xs-2 col-lg-2 col-sm-8 ">Nature</th>
                                    <th class="col-md-2 col-xs-2 col-lg-2 col-sm-8 ">Statut</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in list)
                                {
                                    <tr>
                                        <td>@item.Ref_cour</td>
                                        <td>@item.Obj_cour</td>
                                        <td>@item.UTILISATEUR.Nom_util</td>
                                        <td>@item.NATURE.Lib_nat</td>
                                        <td>@item.Stat_cour</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        functionShowPresentSsMenu('opt8');
        
        var datatable = CreateDatatableWithExportButton("#archive", "Liste des courriers",null, { columns: ":visible" });
        const url_archive = "@Url.RouteUrl("archives.archiver")";

        if(@list.Count()>0){
            $(window).on("load", function () {
                datatable.button().add(0, {
                    text: "Archiver",
                    className: "btn-danger waves-effect",
                    action: function () {
                        ShowConfirmMessage(function () {
                            $.get(url_archive).done(function (result) {
                                if (result.state == true) {
                                    ShowMessageWithCallBack("Courriers archiver avec succès.<br>Vous pourrai toujours les consulter sur la page de consultation des archives.", "Information", "success", function () {
                                        window.location.reload();
                                    });
                                }
                                else {
                                    ShowErrorMessage(result.message);
                                }
                            });
                        }, "@Html.Raw(mes)" + "Êtes-vous sûr de vouloir archiver ces courriers?");
                    }
                });
            });
        }
    </script>
}
