﻿@using GestionCourrierNew.Models;
@{
    ViewBag.Title = "Réponses aux courriers";
    var list = (IList<COURRIER>)ViewBag.courriers;
    var services = (IList<SERVICE>)ViewBag.services;
    var contacts = (IList<IGrouping<TYPE_CORRESPONDANT, CORRESPONDANT>>)ViewBag.contacts;
    var nature = (IList<NATURE>)ViewBag.nature;

    list = list ?? new List<COURRIER>();
    services = services ?? new List<SERVICE>();
    contacts = contacts ?? new List<IGrouping<TYPE_CORRESPONDANT, CORRESPONDANT>>();
    nature = nature ?? new List<NATURE>();
}
<div class="card ">
    <div class="header">
        <h2>Réponses aux courriers</h2>
        <small>Envoyer des courriers en réponses aux courriers réçus et traités.</small>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="data_reponse">
                        <thead>
                            <tr>
                                <th>Code Courrier</th>
                                <th>Objet</th>
                                <th>Nature</th>
                                <th>Expediteur</th>
                                <th>Date Reception</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                           @foreach (var item in list)
                           {
                            <tr>
                                <td>@item.Ref_cour</td>
                                <td>@item.Obj_cour</td>
                                <td>@(item.NATURE.Lib_nat)</td>
                                @{
                                    var exp = item.ECHANGER.Where(e => e.isDest != true).FirstOrDefault();
                                    if (exp != null)
                                    {
                                        if (exp.Id_cor != null)
                                        {
                                            <td>@(exp.CORRESPONDANT.Nom_cor)</td>
                                        }
                                        else
                                        {
                                            <td>Service: @(exp.SERVICE?.Lib_serv)</td>
                                        }
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                                <td>@item.Date_cour.ToShortDateString()</td>
                                <td>
                                    @if (item.Rep_cour==null)
                                    {
                                        <button type="button" title="Envoyer une reponse" class="btn bg-cyan btn-add" data-toggle="modal" data-target="#Modal" onclick="ShowModal('add','',this,@item.Id_cour,'@item.Ref_cour');"><i class="fa fa-plus"></i></button>
                                    }
                                    else
                                    {
                                        <button type="button" title="Detail sur la reponse" class="btn btn-success btn-det" data-toggle="modal" data-target="#modal_detail" onclick="AfficherDetail('@item.Rep_cour','@item.Ref_cour')"><i class="fa fa-eye"></i></button>
                                        <button type="button" title="Modifier la reponse" class="btn bg-cyan btn-mod" data-toggle="modal" data-target="#Modal" onclick="ShowModal('modifier','@item.Rep_cour',this,@item.Id_cour,'@item.Ref_cour');"><i class="fa fa-edit"></i></button>
                                        <button type="button" title="Supprimer la reponse" class="btn btn-danger btn-sup" onclick="ConfirmSup(@item.Id_cour,@item.Rep_cour);"><i class="fa fa-trash"></i></button>
                                        <a href="@Url.RouteUrl("CourrierDepart.Imprimer.Reponse", new { id = item.Rep_cour})" title="Imprimer la reponse" class="btn bg-orange btn-imprim"><i class="fa fa-print"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Partial/_PartialCourrierDepart")

@section scripts{
    <script src="~/Plugins/ckEditor/ckeditor.js"></script>
    <script src="~/Content/Js/PageScript/_SharedCourrierDepart.js"></script>
    <script src="~/Content/Js/PageScript/_SharedAddContact.js"></script>
    <script src="~/Content/Js/PageScript/ReponseCourrier.js"></script>

    <script type="text/javascript">
        const url_delete_reponse = "@Url.RouteUrl("traitement.reponse.delete",new { id_cour = 0 ,id_cour_rep=0})";
        const url_post_action = "@Url.RouteUrl("reception.courrierDepart.action")";
        const url_edit = "@Url.RouteUrl("reception.courrierDepart.edit", new { id = 0 })";
        const url_post_ajoutContact = "@Url.RouteUrl("parametrage.contact.action")";
        const url_get_code = '@Url.RouteUrl("reception.courrierDepart.getCodeCourrier", new { id = "0" })';
        const statut = "@Html.Raw(@GestionCourrierNew.Helper.StatutCourrier.Traite.Item2)";
        const date_today = "@DateTime.Now.ToShortDateString()";
        const user = "@Html.Raw(HttpContext.Current.User.Identity.Name)";

        var dataTable, etat_action, tr_modif, tr_sup;
      
        $(function () {

            dataTable = $('#data_reponse').DataTable({
                "language": {
                    "url": "../../Plugins/jquery-datatable/French.json"
                },
                dom: 'lBfrtip',
                responsive: true,
                "autoWidth": false,
                "pageLength": 10,
                "lengthMenu": [10, 25, 50, 75, 100],
                buttons: [
                    {
                        text: 'Excel',
                        className: "waves-effect",
                        action: function () {
                            getExportName(".btn-excel");
                        }
                    },
                    {
                        text: 'Pdf',
                        className: "waves-effect",
                        action: function () {
                            getExportName(".btn-pdf");
                        }
                    },
                    {
                        text: 'Imprimer',
                        className: "waves-effect",
                        action: function () {
                            getExportName(".btn-print");
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        className: "waves-effect btn-excel",
                        filename: function () { return filename }
                    },
                    {
                        extend: 'pdf',
                        className: "waves-effect btn-pdf",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        filename: function () { return filename },
                        title: function () { return filename },
                    },
                    {
                        extend: 'print',
                        className: "waves-effect btn-print",
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        filename: function () { return filename },
                        text: "IMPRIMER",
                        extension: 'filepdf.pdf',
                        //autoPrint: false,
                        title: function () { return filename },
                        customize: function (win) {
                            console.log(win);
                            $(win.document.body)
                                .css('font-size', '10pt')
                            $(win.document.body).find('#data_reponse')
                                .addClass('compact')
                                .css('font-size', '10pt');
                        }
                    }
                ],
            });

            function FormatNowDate() {
                let today = new Date();
                let y = today.getFullYear();
                let m = today.getMonth() + 1;
                let j = today.getDate();
                let h = today.getHours();
                let min = today.getMinutes();
                if (m < 10) { m = "0" + m };
                if (j < 10) { j = "0" + j };
                if (h < 10) { h = "0" + h };
                if (min < 10) { min = "0" + min };
                return (j + '-' + m + '-' + y + " " + h + ":" + min);
            }

            function getExportName(buttonClass) {
                swal({
                    title: "Nom du fichier à exporter!",
                    text: "Entrez le nom du fichier à exporter svp!!!",
                    type: "input",
                    showCancelButton: true,
                    cancelButtonText: "Annuler",
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    inputPlaceholder: "Entrez le nom du fichier svp !!!",
                    inputValue: "Liste des courriers sortants du " + FormatNowDate()
                }, function (inputValue) {
                    if (inputValue === false) return false;
                    if (inputValue.trim() === "") {
                        swal.showInputError("Vous devez renseigner un nom de fichier!!!"); return false
                    }
                    filename = inputValue;
                    $(buttonClass).click();
                    swal.close();
                });
            }
        });
    </script>
}
