﻿@{
    ViewBag.Title = "Liste courriers";
    var type_courrier = ViewBag.type;
    var desc= type_courrier == "reponse" ? "Liste des réponses aux courriers arrivés" : type_courrier == "depart" ? "Liste des courriers départs" : "Liste des courriers arrivés";
    var titre= type_courrier == "reponse" ? "Réponses Courriers" : type_courrier == "depart" ? "Courriers Départs" : "Courriers Arrivés";
}
<div class="card ">
    <div class="header">
        <h2>@titre</h2>
        <small>@desc</small>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                            <tr>
                                <th class="col-md-3 col-xs-3 col-lg-3 col-sm-8 ">Code courrier</th>
                                @if (type_courrier == "reponse")
                                {
                                    <th class="col-md-3 col-xs-3 col-lg-3 col-sm-8">Code courrier arrivé</th>
                                }
                                else if (type_courrier == "arrive")
                                {
                                    <th class="col-md-3 col-xs-3 col-lg-3 col-sm-8">Code courrier reponse</th>
                                }
                                <th class="col-md-3 col-xs-3 col-lg-3 col-sm-8 ">Objet</th>
                                <th class="col-md-2 col-xs-2 col-lg-2 col-sm-8 ">Réceptionniste</th>
                                <th class="col-md-2 col-xs-2 col-lg-2 col-sm-8 ">Nature</th>
                                <th class="col-md-2 col-xs-2 col-lg-2 col-sm-8 ">Statut</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var type_courrier = "@ViewBag.type";
        var classe = type_courrier == "reponse" ? "opt17" : type_courrier == "depart" ? "opt21" : "opt22";
        var message = type_courrier == "reponse" ? "Liste des reponses au courriers entrant du " : type_courrier == "depart" ? "Liste des courriers départs du " : "Liste des courriers arrivés du";
        var dataTable = CreateDatatableWithExportButton('.dataTable', "Liste des courriers de courrier du " + FormatNowDate(),null, { columns: ":visible" });
        var url_get = type_courrier == "reponse" ? "@Url.RouteUrl("shared.courrier.listReponseCourrier")" : type_courrier == "depart" ? "@Url.RouteUrl("shared.courrier.listCourrierDepart")" : "@Url.RouteUrl("shared.courrier.listCourrierArrive")";

        functionShowPresentSsMenu(classe);
        $.get(url_get).done(function (result) {
            if (result.state == true) {
                console.log(result);
                var list = result.list;
                $(list).each(function (i, item) {
                    var courrier = item.courrier;
                    var tab = [
                        courrier.Obj_cour,
                        courrier.Nom_util,
                        courrier.Lib_nat,
                        courrier.Stat_cour
                    ];
                    if (type_courrier == "reponse") {
                        tab.unshift(courrier.Ref_cour, courrier.Ref_cour_arr);
                    }
                    else if (type_courrier == "arrive") {
                        tab.unshift(courrier.Ref_cour, courrier.Ref_cour_rep == null ? "Aucun" : courrier.Ref_cour_rep);
                    }
                    else {
                        tab.unshift(courrier.Ref_cour);
                    }
                    dataTable.row.add(tab);
                });
                dataTable.draw();
            }
            else {
                ShowErrorMessage(result.message);
            }
        });
    </script>
}
