﻿@using GestionCourrierNew.Models;
@{
    ViewBag.Title = "Utilisateurs";
    var list = (List<UTILISATEUR>)ViewBag.list;
    list = list ?? new List<UTILISATEUR>();
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Comptes Utilisateurs</h2>
                <small>Listes des différents comptes utilisateurs de la plateforme.</small>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Email</th>
                                        <th>Etat</th>
                                        <th>Date création</th>
                                        <th>Profil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in list)
                                    {
                                        <tr>
                                            <td>@item.Nom_util</td>
                                            <td>@item.Email_util</td>
                                            <td>@(item.isActif_util == false ? "Non actif" : "Actif")</td>
                                            <td>@(item.Date_creation_util?.ToShortDateString())</td>
                                            <td>@(item.DROIT_ACCES?.Lib_drt)@*(@(item.DROIT_ACCES?.isDelete==true?"Supprimé":"Actif"))*@</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
@section scripts{
    <script>
        functionShowPresentSsMenu('opt19');
        dataTable = CreateDatatableWithExportButton('.dataTable', "Liste des utilisateurs de courrier du " + FormatNowDate(),null, { columns: ':visible' });
    </script>
}