﻿@using GestionCourrierNew.Models;
@{
    ViewBag.Title = "Services";
    var list = (List<SERVICE>)ViewBag.list;
    list = list ?? new List<SERVICE>();
}
<div class="card ">
    <div class="header">
        <h2>Services</h2>
        <small>Liste des différents services de l'entreprise.</small>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Libellé</th>
                                <th>Responsable</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in list)
                            {
                                <tr>
                                    <td>@(item.Lib_serv)</td>
                                    <td>@(item.Civ_serv + " " + item.Resp_serv)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        functionShowPresentSsMenu('opt15');
        dataTable = CreateDatatableWithExportButton('.dataTable', "Liste des services du " + FormatNowDate(), null,{ columns: [0,1] });
    </script>
}