﻿@using GestionCourrierNew.Models;
@{
    ViewBag.Title = "Correspondants";
    var list = (List<CORRESPONDANT>)ViewData["list"];
   
    list = list ?? new List<CORRESPONDANT>();
}
<div class="card ">
    <div class="header">
        <h2>Correspondants</h2>
        <small>Liste des différentes structures externes et personnes avec qui les échanges se font.</small>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="table_contact">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Numéro téléphone</th>
                                <th>Adresse</th>
                                <th>Mail</th>
                                <th>Responsable</th>
                                <th>Type de correspondant</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in list)
                            {
                                <tr>
                                    <td>
                                        @if (item.Resp_cor == null)
                                        {
                                           <text>@string.Format("{0} {1}", item.Civ_cor, item.Nom_cor)</text>
                                        }
                                        else
                                        {
                                            <text>@string.Format("{0}", item.Nom_cor)</text>
                                        }
                                    </td>
                                    <td>@(item.Tel_cor??"ND")</td>
                                    <td>@(item.Ad_cor ?? "ND")</td>
                                    <td>@(item.Mail_cor ?? "ND")</td>
                                    <td>
                                        @if (item.Resp_cor != null)
                                        {
                                            <text>@string.Format("{0} {1}", item.Civ_cor, item.Resp_cor)</text>
                                        }
                                        else
                                        {
                                            <text>ND</text>
                                        }
                                    </td>
                                    <td>@(item.TYPE_CORRESPONDANT?.Lib_typ_cor)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        functionShowPresentSsMenu('opt16');
        dataTable = CreateDatatableWithExportButton('.dataTable', "Liste des correspondants du " + FormatNowDate(),null, { columns: [0,1,2,3,4,5] });
    </script>
 }