﻿@using GestionCourrierNew.Models;
@{
    ViewBag.Title = "Réception de Courrier arrivé";
    var list = (IList<COURRIER>)ViewBag.courriers;
    var etats = (IList<Tuple<int,string>>)ViewBag.etats;
    var nature = (IList<NATURE>)ViewBag.nature;
    var services = (IList<SERVICE>)ViewBag.services;
    var contacts = (IList<CORRESPONDANT>)ViewBag.contacts;

    list = list ?? new List<COURRIER>();
    nature = nature ?? new List<NATURE>();
    services = services ?? new List<SERVICE>();
    contacts = contacts ?? new List<CORRESPONDANT>();
}
@section styles{
    <style>
        /*.btn-excel, .btn-pdf, .btn-print {
            display: none;
        }*/

        #form .wizard > .steps > ul > li {
            width: 30%;
        }

        #form .wizard > .steps > ul > li:nth-child(1) {
            width: 40%;
        }

        #form .content.clearfix {
            max-height: calc(100vh - 300px);
            overflow: auto;
        }

        @@media(max-width:991px){
          #form .wizard > .steps > ul > li a{
            height:80px;
          }
        }
        @@media(max-width:468px){
          #form .wizard > .steps > ul > li a{
            height:100px;
          }
        }
    </style>
}
<div class="card ">
    <div class="header">
        <h2>Réception de Courriers arrivés</h2>
        <small>Enregistrement de tous les courriers réçus.</small>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <label class="col-md-5 col-sm-2 col-lg-5 col-xs-2" for="etat">Avancé du traitement</label>
                    <div class="col-md-7 col-sm-10 col-lg-7 col-xs-10">
                        <select class="form-control show-tick" name="etat" id="etat" onchange="LoadListCourrier(this)">
                            <option value="0" selected>Tout</option>
                            @foreach (var item in etats)
                            {
                                <option value="@item.Item1">@item.Item2</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="data_courrier">
                        <thead>
                            <tr>
                                <th>Code Courrier</th>
                                <th>Objet</th>
                                <th>Nature</th>
                                <th>Expéditeur</th>
                                <th>Date Réception</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal detail sur un courrier arrive-->
<div class="modal fade" id="modal_detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
                <h4 class="modal-title modal-title-arrive" id="MyModalLabel">Détail sur un courrier Arrivé</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="code form-control" disabled>
                        <label class="form-label">Code</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="objet form-control" disabled>
                        <label class="form-label">Objet</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="date form-control" disabled>
                        <label class="form-label">Date de reception</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="fichier form-control" disabled>
                        <a href="#" class="fichier btn btn-default"><i class="fa fa-download"></i></a>
                        <label class="form-label">Fichier joint</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="nature form-control" disabled>
                        <label class="form-label">Nature</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="agent form-control" disabled>
                        <label class="form-label">Crée par</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <input type="text" class="statut form-control" disabled>
                        <label class="form-label">Statut</label>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link " data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>


<!--Modal Ajout Large Size -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body" style="max-height: none;overflow: inherit;">
                <form enctype="multipart/form-data" name="form" id="form" action="" method="post">
                    <div>
                        <h2>INFORMATION SUR LE COURRIER</h2>
                        <section>

                            @Html.AntiForgeryToken()
                            <input type="hidden" id="id" />

                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" id="code" class="form-control" required maxlength="50">
                                        <label class="form-label">Code *</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" id="objet" class="form-control" required maxlength="50">
                                        <label class="form-label">Objet *</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="file" class="form-control" id="file">
                                        <label class="form-label">Fichier Joint</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 m-b-30 p-l-0">
                                <label class="col-md-5 col-sm-2 col-lg-5 col-xs-2" for="etat">Nature du courrier *</label>
                                <div class="col-md-7 col-sm-10 col-lg-7 col-xs-10 p-r-0">
                                    <select class="form-control show-tick" name="nature" id="nature" required>
                                        @foreach (var item in nature)
                                        {
                                            <option value="@item.Id_nat">@item.Lib_nat</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" value="@string.Format("dd/MM/yyyy",DateTime.Now.Date)" class="form-control" disabled id="date">
                                        <label class="form-label">Date de reception</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" value="" class="form-control" disabled id="user">
                                        <label class="form-label">Recu par</label>
                                    </div>
                                </div>
                            </div>
                            
                        </section>

                        <h2>TYPE EXPEDITEUR</h2>
                        <section>
                            <div class="col-md-12">
                                <span>
                                    <input type="radio" class="with-gap" id="ig_checkbox" name="correspondant" data-value="service" checked>
                                    <label for="ig_checkbox" style="font-size:14px !important;font-weight:bold;">UN SERVICE <br /> <span style="color:black;">Choisissez cette option si l'expediteur est un service de l'entreprise</span></label>
                                </span>
                            </div>
                            <div class="col-md-12 m-t-30">
                                <span>
                                    <input type="radio" class="with-gap" id="ig_checkbox2" name="correspondant" data-value="contact">
                                    <label for="ig_checkbox2" style="font-size:14px !important;font-weight:bold;">UN CONTACT <br /> <span style="color:black;">Choisissez cette option si l'expediteur est externe à l'entreprise </span></label>
                                </span>
                            </div>
                        </section>

                        <h2>EXPEDITEUR</h2>
                        <section>
                            <div>
                                Choix actuelle: <span class="text-info" id="final_choix" data-Id_cor="" data-Id_serv="">Aucun</span>
                            </div>
                            <div id="service">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="data_service">
                                        <thead>
                                            <tr>
                                                <th>Libellé</th>
                                                <th>Responsable</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in services)
                                            {
                                                <tr>
                                                    <td>
                                                        <input name="choix_serv" type="radio" id="serv_@item.Id_serv" class="radio-col-orange" data-id="@item.Id_serv" data-lib="@item.Lib_serv"><label for="serv_@item.Id_serv" style="color:#777 !important;">@item.Lib_serv</label>
                                                    </td>
                                                    <td>@item.Civ_serv @item.Resp_serv</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="contact" style="display:none">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover dataTable js-exportable" id="data_contact">
                                        <thead>
                                            <tr>
                                                <th>Nom</th>
                                                <th>Type</th>
                                                <th>Responsable</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in contacts)
                                            {
                                                <tr>
                                                    <td>
                                                        <input name="choix_cont" type="radio" id="cont_@item.Id_cor" class="radio-col-orange" data-id="@item.Id_cor" data-lib="@item.Nom_cor"><label for="cont_@item.Id_cor" style="color:#777 !important;">@item.Nom_cor</label>
                                                    </td>
                                                    <td>@(item?.TYPE_CORRESPONDANT?.Lib_typ_cor)</td>
                                                    <td>@(item.Resp_cor == null ? "" : string.Format("{0} {1}", item.Civ_cor, item.Resp_cor))</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--end Modal Ajout Large Size -->

@Html.Partial("_Partial/_PartialModalContact", "modal_contact");

@section scripts{
    <script type="text/javascript">
        const url_post_action = "@Url.RouteUrl("reception.courrierArrive.action")";
        const url_delete = '@Url.RouteUrl("reception.courrierArrive.delete", new{id= 0})';
        const url_edit = '@Url.RouteUrl("reception.courrierArrive.edit", new{id= 0})';
        const url_miseEnAttente = '@Url.RouteUrl("reception.courrierArrive.attente", new{id= 0})';
        const url_nonTraite = '@Url.RouteUrl("reception.courrierArrive.classeNonTraite", new{id= 0})';
        const url_load_list_selon_statut = "@Url.RouteUrl("reception.courrierArrive.search", new { id = 0 })";
        const url_post_ajoutContact = "@Url.RouteUrl("parametrage.contact.action")";

        var dataTable, etat_action, tr_modif, tr_sup, filename;
        const date_today = "@DateTime.Now.ToShortDateString()";
        const user = "@Html.Raw(HttpContext.Current.User.Identity.Name)";
    </script>
    <script src="~/Content/Js/PageScript/ReceptionCourrierArrive.js"></script>
    <script src="~/Content/Js/PageScript/_SharedAddContact.js"></script>
}
