﻿@using GestionCourrierNew.Models;
@{
    ViewBag.Title = "Parametrage";
    var list = (List<PARAMETRAGE>)ViewData["list"];
    var item = list.FirstOrDefault();
    //HelperClass.SwitchCheckboxChecked SwitchCheckboxChecked = new HelperClass.SwitchCheckboxChecked();
    //if (item.B_archiv_by_nombre == true)
    //{
    //    SwitchCheckboxChecked.text = "checked";
    //    SwitchCheckboxChecked.title = "Archiver les régistres par nombre de courriers enregistrés";
    //    SwitchCheckboxChecked.value = 1;
    //    SwitchCheckboxChecked.classe = "nombre";
    //}
    //else
    //{
    //    SwitchCheckboxChecked.text = "";
    //    SwitchCheckboxChecked.title = "Archiver les régistres par périodes (en mois)";
    //    SwitchCheckboxChecked.value = 0;
    //    SwitchCheckboxChecked.classe = "periode";
    //}
}

<div class="card ">
    <div class="header">
        <h2>Paramètres généraux</h2>
        <small>Paramètres nécessaire à la gestion générale de la plateforme.</small>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                <form action="@Url.RouteUrl("parametrage.parametrage.action")" method="post" name="form" id="form">
                    @Html.AntiForgeryToken()
                    <div class="right">
                        <span class="switch">
                            <label>
                                
                            </label>
                        </span>
                    </div>
                    <div class="table-responsive" style="clear:both;">
                        @*<form action="@Url.RouteUrl("parametrage.parametrage.action")" method="post" name="form">*@
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th width="50%">Paramètre</th>
                                    <th width="50%">Valeur</th>
                                    <th width="50%">Valeur</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    <tr>
                                        <td>Directeur général</td>
                                        <td>@(item?.Nom_directeur)</td>
                                        <td>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="text" value="@(item?.Nom_directeur)" id="nom" name="nom" class="form-control" maxlength="100" required>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Délai d'archivage en mois</td>
                                        <td>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="number" step="1" min="1" value="" id="delai" name="delai" class="form-control" required>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Nombre limite de courrier par régistre</td>
                                        <td>
                                            <div class="form-group form-float">
                                                <div class="form-line">
                                                    <input type="number" step="1" min="1" value="" id="nb" name="nb" class="form-control" required>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @*</form>*@

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var filename;
        var checkValue = 0;
        var urlSubmit='@Url.RouteUrl("parametrage.parametrage.action")';
        functionShowPresentSsMenu('opt21');

        $(document).ready(function () {
            dataTable = $('.dataTable').DataTable({
                "language": {
                    "url": "../../Plugins/jquery-datatable/French.json"
                },
                dom: 'Btip',
                "columnDefs": [
                    {
                        "targets": [1],
                        "visible": false,
                        "searchable": false
                    },
                ],
                responsive: true,
                "autoWidth": false,
                buttons: [
                    {
                        text: 'Valider Modification',
                        className: "btn-ajout btn-primary waves-effect",
                        titleAttr: 'Modifier les valeurs',
                        action: function () {
                            $.post(urlSubmit, 
                                { 
                                    choix: $("#choix").val()==1?true:false,
                                    __RequestVerificationToken: $("#form input[name=__RequestVerificationToken]").val(),
                                    nom:$('#nom').val(),
                                    delai:$("#delai").val(),
                                    nb:$("#nb").val()
                                }
                                ).done(function (data) {
                                if(data.state)window.location.reload();
                                else swal("Erreur", data.Message, "error");
                            });
                        }
                    },
                    {
                        text: 'Excel',
                        className: "waves-effect",
                        action: function () {
                            getExportName(".btn-excel");
                        }
                    },
                    {
                        text: 'Pdf',
                        className: "waves-effect",
                        action: function () {
                            getExportName(".btn-pdf");
                        }
                    },
                    {
                        text: 'Imprimer',
                        className: "waves-effect",
                        action: function () {
                            getExportName(".btn-print");
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: [0, 1]
                        },
                        className: "waves-effect btn-excel",
                        filename: function () { return filename }
                    },
                    {
                        extend: 'pdf',
                        className: "waves-effect btn-pdf",
                        exportOptions: {
                            columns: [0, 1]
                        },
                        filename: function () { return filename },
                        title: function () { return filename },
                    },
                    {
                        extend: 'print',
                        className: "waves-effect btn-print",
                        exportOptions: {
                            columns: [0, 1]
                        },
                        filename: function () { return filename },
                        text: "IMPRIMER",
                        extension: 'filepdf.pdf',
                        //autoPrint: false,
                        title: function () { return filename },
                        customize: function (win) {
                            console.log(win);
                            $(win.document.body)
                                .css('font-size', '10pt')
                            //.prepend(
                            //    '<img src="http://datatables.net/media/images/logo-fade.png" style="position:absolute; top:0; left:0;" />'
                            //);

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', '10pt');
                        }
                    }
                ],

            });
        });

        function FormatNowDate() {
            //var da = new Date();
            //return da.getDate() + '-' + (da.getMonth() + 1) + '-' + da.getFullYear() + " " + da.getHours() + ":" + da.getMinutes();
            let today = new Date();
            let y = today.getFullYear();
            let m = today.getMonth() + 1;
            let j = today.getDate();
            let h = today.getHours();
            let min = today.getMinutes();
            if (m < 10) { m = "0" + m };
            if (j < 10) { j = "0" + j };
            if (h < 10) { h = "0" + h };
            if (min < 10) { min = "0" + min };
            return (j + '-' + m + '-' + y + " " + h + ":" + min);
        }

        function getExportName(buttonClass) {
            swal({
                title: "Nom du fichier à exporter!",
                text: "Entrez le nom du fichier à exporter svp!!!",
                type: "input",
                showCancelButton: true,
                cancelButtonText: "Annuler",
                closeOnConfirm: false,
                animation: "slide-from-top",
                inputPlaceholder: "Entrez le nom du fichier svp !!!",
                inputValue: "Paramètres généraux du " + FormatNowDate()
            }, function (inputValue) {
                if (inputValue === false) return false;
                if (inputValue.trim() === "") {
                    swal.showInputError("Vous devez renseigner un nom de fichier!!!"); return false
                }
                filename = inputValue;
                $(buttonClass).click();
                swal.close();
            });
        }

        $("span.switch span").click(function (e) {
            let classe = $("span.switch span.lever").hasClass('nombre') ? 'nombre' : 'periode';
            //console.log(classe);
            if (classe == 'nombre') {
                //alert('exprimer en nombre de mois');
                $("span.switch span.lever").removeClass('nombre').addClass('periode');
                $("span.switch span.lever").attr('title', 'Archiver les régistres par période.');
                $("#choix").val(0);
            }
            else {
                //alert('exprimer en nombre de courrier');
                $("span.switch span.lever").removeClass('periode').addClass('nombre');
                $("span.switch span.lever").attr('title', 'Archiver les régistres par nombre de courriers enregistrés.');
                $("#choix").val(1);
            }
        });
    </script>
}
